<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Hubot DJ: Admin to Spotify Playlist</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

</head>
<body>

  <div class="container m-y-3">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-3">
      </div>

      <div class="col-xs-12 col-sm-12 col-md-9">
      </div>

    </div><!-- end of .row -->
  </div><!--end of .container -->


</body>
</html>
