<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Hubot DJ: Login to Spotify</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

  <style type="text/css">
    html,
    body { height: 100%; min-height: 100%; }

    body > .block {
      display: table;
      width: 100%;
      height: 100%;
      min-height: 100%;
    }

    .block-inner {
      display: table-cell;
      height: 100%;
      min-height: 100%;
      vertical-align: middle;
    }

  </style>
</head>
<body>

  <div class="block text-xs-center">
    <div class="block-inner">

      <h1 class="block-title m-b-1">Hello.</h1>
      <h4 class="text-muted m-b-1">Let's get you set up.</h4>
      <div class="btn-group">
        <a class="btn btn-link btn-lg text" href="{{authorize}}">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32" data-tags="spotify,brand,social">
            <g fill="#444" transform="scale(0.03125 0.03125)"><path d="M512 0c-281.6 0-512 230.4-512 512s230.4 512 512 512 512-230.4 512-512-227.8-512-512-512zM747.6 739.8c-10.2 15.4-28.2 20.4-43.6 10.2-120.4-74.2-271.4-89.6-450.6-48.6-18 5.2-33.2-7.6-38.4-23-5.2-18 7.6-33.2 23-38.4 194.6-43.6 363.6-25.6 496.6 56.4 18 7.6 20.6 28 13 43.4zM809 599c-12.8 18-35.8 25.6-53.8 12.8-138.2-84.4-348.2-110-509.4-58.8-20.4 5.2-43.6-5.2-48.6-25.6-5.2-20.4 5.2-43.6 25.6-48.6 186.8-56.4 417.2-28.2 576 69.2 15.2 7.6 23 33.2 10.2 51zM814 455.6c-163.8-97.2-437.8-107.6-594-58.8-25.6 7.6-51.2-7.6-58.8-30.8-7.6-25.6 7.6-51.2 30.8-58.8 181.8-53.8 481.2-43.6 670.8 69.2 23 12.8 30.8 43.6 18 66.6-13 17.8-43.6 25.4-66.8 12.6z" />
            </g>
          </svg>
        </a>
      </div>

    </div><!-- end of .block-inner -->
  </div><!-- end of .block.text-xs-center -->

</body>
</html>
